body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: brown;
    color: white;
    padding: 10px 0;
    height: 60px
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}
main {
    padding-top: 80px; /* To avoid content being hidden behind the fixed header */
}

section {
    height: 100vh; /* Full viewport height */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

section .overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#home {
    background-image: url('/images/back.jpeg'); /* Replace with your image URL */
}

#cards {
    background-color: #f0f0f0; /* Light background for the cards section */
    color: #333;
    padding: 60px 20px;
    margin: 20px auto;
    width: 100%;
    background-image: none; /* Remove the background image for the cards section */
    height: auto; /* Adjust height to fit the content */
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    overflow: hidden;
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    
}


.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card h3 {
    margin-top: 0;
}

.card p {
    font-size: 14px;
    color:black;
}
